.container{
    font-family: 'Poppins', sans-serif;
}
ul{
    margin-left: 290px!important;
}
.carousel-item h1{
    margin-top: 60px;
}
.carousel-item .col-7{
    padding-left: 30px;
}
.btn-dark{
    margin-top: 20px;
    
}
.Smartphone .card{
    margin-top: 30px;
    padding-top: 20px;
    border: none;
    box-shadow: 5px 5px 10px gray;
}
.card-title{
    text-align: center;
    font-weight: bold;
}
.card-text{
    text-align: center;
}
.Smartphone button{
     margin: auto;
}
.price {
    color: #9f8383 !important;
}
.Smartphone a{
      color: #ff9d00;
      text-decoration: none;
      position: relative;
      bottom: 29px;
}
.smartphone-header{
    margin-top: 50px!important;
    
}
.Laptop .card{
    border:none;
    box-shadow: 5px 5px 10px;
}
.laptop-header{
    margin-top: 20px;
}
.Laptop button{
    margin: auto;
}
.Laptop a{
    color: #ff9d00;
    text-decoration: none;
    position: relative;
    bottom: 29px;
}
.catagory .row .col-7 img{
    width: 100%;
}
.bag{
    margin-right: 21px;
    margin-bottom: 12px;
}
